@import "./header.css";
@import "./banner.css";
@import "./search.css";
@import "./property.css";
@import "./about.css";
@import "./videos.css";
@import "./testimonals.css";
@import "./articles.css";
@import "./footer.css";

* {
    font-family: 'Montserrat', sans-serif;
}
.container {
    width: 1140px;
    margin: 0 auto;
}

@media (max-width: 1000px) {
    .container {
        width: 940px;
    }
}