.testimonals {
    margin-bottom: 140px;
}
.testimonals__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 34px;
}
.testimonal {
    background-color: #f2f8e9;
    padding: 29px 37px 41px 25px;
    border-radius: 15px;
}
.testimonal__title {
    display: flex;
    gap: 20px;
}
.testimonal__name {
    font-size: 24px;
    font-weight: 500;
    color: #82b723;
}
.testimonal__location {
    font-size: 18px;
    font-weight: 500;
    color: #000000;
}
.testimonal__text {
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    margin-bottom: 0;
}
.testimonal__img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
.testimonal__h2 {
    color: #82b723;
    font-size: 30px;
    font-weight: 600;
    margin-left: 20px;
}